<body>
  <header>
    <img src="https://i.pinimg.com/564x/2a/7d/19/2a7d197637c9ce7653b4c7c2a8704d2b.jpg" 
    class= "circulo" alt="imagen dañada">
    <h1>Señor De Los Cielos</h1>
   </header>
   <section>
    <div class="card">
      <h2>HISTORIA</h2>
      <p>Esta serie nos cuenta la historia de Aurelio Casillas, un hombre de orígenes humildes que soñaba con tenerlo todo. A través de torturas y asesinatos, Casillas se abre paso en el mundo del narcotráfico, convirtiéndose en uno de los hombres más ricos del mundo y en un poderoso traficante de drogas buscado por la DEA. </p>  
  </div>
  </section>
    <section>
      <div class="card2">
        <h2>MOTIVOS POR LO QUE ME GUSTA</h2>
        <ul>
          <li>una serie buenisima</li>
          <li>una historia basada en un hecho real</li>
          <li>por los actores conocidos</li>
        </ul>
        <h2>PERSONAJES</h2>
        <ul>
          <li>Aurelio Casillas</li>
          <li>Chacorta</li>
          <li>Chema</li>
        </ul>
          
      </div>
    </section>
    <section>
     <div class="card3">
      <h2>OTRAS PELICULAS O SERIES SIMILARES</h2>
       <ul>
        <li>Pablo Escobar</li>
        <li>El Capo</li>
        <li>El Cartel De Los Sapos</li>
       </ul>
     </div>
  
    <div class="color-box">
      <h3>El Capo</h3>
        <p>La historia cuenta la vida de Pedro Pablo León Jaramillo alias "El Capo", una mente brillante de la mafia y del narcotráfico. Relata cómo asciende desde los barrios más humildes de Colombia hasta las negras cumbres del mundo criminal.</p>
  </div>
     <div class= "color-box2">
      <h3>El Cartel de los Sapos</h3>
      <p>El cartel de los sapos o mejor conocido como El cartel es una serie colombiana producida por Caracol Televisión en 2008 y 2010.1​ Está dirigida por Luis Alberto Restrepo y Gabriel Casilimas. Se basa en el libro El cartel de los sapos, escrito por el ex narcotraficante colombiano Andrés López López, conocido en el mundo del narcotráfico con el alias de "Florecita" quien escribió el libro durante su estadía en prisión, y luego participó en la elaboración de los libretos.</p>
     </div>
  </section>
</body>